# John Henry Investments, LLC — Copyright (c) 2026. All rights reserved. Proprietary & confidential. See LICENSE.
# JHI-SIG: 69M2705M | Build & Deploy | John Henry Investments (proprietary)
node_modules
.next
out
.venv
**/__pycache__
**/*.pyc
.pytest_cache
.ruff_cache
*.egg-info
backend/*.db
backend/*.sqlite*
.git
.gitignore
npm-debug.log*
*.tsbuildinfo
