.next
node_modules
out
coverage
*.tsbuildinfo
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.venv
*.egg-info
*.db
*.sqlite
*.sqlite3
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
