# John Henry Investments, LLC — Copyright (c) 2026. All rights reserved. Proprietary & confidential. See LICENSE.
# JHI-SIG: 69M2705M | Build & Deploy | John Henry Investments (proprietary)
.next
node_modules
out
coverage
*.tsbuildinfo
__pycache__
*.py[cod]
.pytest_cache
.ruff_cache
.venv
*.egg-info
*.db
*.sqlite
*.sqlite3
.env
.env*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
